@import "styles.css";

* {
    -bg-color: #1c1c1c;
    -button-color: #363636;
    -menu-color: #222223;
    -menu-font-color: #868784;
    -border-color-light: #585859;
    -border-color-dark: #282829;
    -font-color: #eeeeee;
    -hover-color: #003f65;
}
