@import "styles.css";

* {
    -bg-color: #ffffff;
    -button-color: #eeeeee;
    -menu-color: #f2f2f2;
    -menu-font-color: #000000;
    -border-color: #bcbcbc;
    -border-color-dark: #bcbcbc;
    -font-color: #000000;
    -hover-color: #2675bf;
}
