.root {
    -fx-background-color: -bg-color;
    -fx-border-color: -border-color-dark;
}

.menu-bar {
    -fx-font-size: 100%;
    -fx-background-color: -bg-color;
    -fx-border-color: -border-color-dark;
    -fx-border-width: 0 0 1 0;
}

.menu .label {
    -fx-text-fill: -menu-font-color;
}

.menu-item:focused, .menu-item:hover, .menu:hover, .menu:focused, .menu:showing, .menu:selected {
    -fx-background-color: -hover-color;
}

.context-menu {
    -fx-background-color: -bg-color;
}

.label {
    -fx-text-fill: -font-color;
}

.grid-cell {
    -fx-background-color: white, white;
    -fx-background-insets: 0, 0 1 1 0;
}

#gridPane, #vBox {
    -fx-font-size: 150%;
}

#vBox {
    -fx-border-style: hidden none none solid;
    -fx-border-color: -border-color-dark;
}

#gridPane > .cell {
    -fx-font-size: 150%;
    -fx-border-style: solid inside;
    -fx-border-color: white;
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 1 0;
}

.grid-cell {
    -fx-background-color: -border-color, -bg-color;
    -fx-background-insets: 0, 1 0 1 1;
}

.grid-cell.last-column {
    -fx-background-insets: 0, 1 1 1 1;
}


.button, .combo-box, .text-field, .combo-box .list-cell, .combo-box .label, .combo-box .text-field {
    -fx-background-color: -button-color;
    -fx-background: -button-color;
    -fx-text-fill: -font-color;
    -fx-prompt-text-fill: -font-color;
}

.button:hover, .combo-box:hover, .combo-box .list-cell:hover, .combo-box .label:hover, .combo-box .text-field:hover {
    -fx-background-color: -hover-color;
    -fx-background: -hover-color;
    -fx-text-fill: -font-color;
    -fx-prompt-text-fill: -font-color;
}

#Card {
    /*-fx-border-radius: 10%;*/
    /*-fx-border-color: -menu-color;*/
    -fx-background-color: -bg-color;
    -fx-background-radius: 10%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#Card:hover {
    -fx-background-color: -hover-color;
}

#Card > .label {
    -fx-wrap-text: true;
}

* {
    -bg-color: #ffffff;
    -menu-color: #f2f2f2;
    -menu-font-color: #000000;
    -border-color: #bcbcbc;
    -border-color-dark: #bcbcbc;
    -font-color: #000000;
    -hover-color: #2675bf;
}
